# === Node ===
node_modules/
client/node_modules/

# === Python ===
stylemate-ai/venv/
__pycache__/
*.pyc

# === Generated Artifacts ===
stylemate-ai/product.index
stylemate-ai/product_vectors.json
stylemate-ai/product_metas.json
stylemate-ai/data/
stylemate-ai/*.json

# === OS ===
.DS_Store
